.input {
    width: 480px;
    height: 60px;
    padding: 22px 20px;
    font-size: var(--input-placeholder);
    background: var(--primary);
    color: white;
    border-style: none;
    border-radius: 10px;
    margin: 12px 0;
}