.btn {
  display: inline-block;
  border-style: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: var(--subtitle-1);
  color: white;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--secondary);
}
.btn-secondary {
  background-color: var(--btn-background-1);
}
.btn-primary:hover {
}
.btn-secondary:hover {
}
