body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fbfbfb;

}

.active {
  background-color: #04AA6D;
}

#rightSide{
  /* background-color: rgb(116, 116, 141); */
  margin: 0;
  padding: 0;
  float: right;
  overflow: hidden;
}

#HomeButton{
  background-color: rgb(26, 133, 221);
}

.SignUp, .SignIn, button {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-right: 25%;
  margin-left: 25%;
  padding: 5%;
  padding: 20px;
  
}

#doctorCard{
  color:#f2f2f2;
  padding: 1%;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #04AA6D;
  border-radius: 500pt;
}

#doctorAvatar{
  vertical-align: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
}

#searchForm{
  color:#f2f2f2;
  text-align: left;
  background-color: #04AA6D;
  margin-left: 25%;
  margin-right: 25%;
  border-style: dashed;
  padding: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 1.5rem;
  font: 1.25rem sans-serif;
  justify-content: left;
}